---
version: 2.1

orbs:
  prometheus: prometheus/prometheus@0.8.0

executors:
  golang:
    docker:
    - image: circleci/golang:1.14

jobs:
  test:
    executor: golang
    environment:
      prom_ver: 2.18.1
      node_ver: 1.0.0
    steps:
      - prometheus/setup_environment
      - run: make build
      - run: wget https://github.com/prometheus/node_exporter/releases/download/v${node_ver}/node_exporter-${node_ver}.linux-amd64.tar.gz
      - run: tar xzf node_exporter-${node_ver}.linux-amd64.tar.gz
      - run: cp -v node_exporter-${node_ver}.linux-amd64/node_exporter ./node_exporter
      - run: wget https://github.com/prometheus/prometheus/releases/download/v${prom_ver}/prometheus-${prom_ver}.linux-amd64.tar.gz
      - run: tar xzf prometheus-${prom_ver}.linux-amd64.tar.gz
      - run: cp -v prometheus-${prom_ver}.linux-amd64/prometheus ./prometheus
      - run:
          name: Configure Prometheus
          command: |
              cat \<< EOF > prometheus.yml
              global:
                scrape_interval: 1s
              scrape_configs:
                - job_name: pushprox
                  proxy_url: http://127.0.0.1:8080
                  static_configs:
                    - targets: ['$(hostname):9100']
              EOF
      - run:
          name: Run everything and test that Prometheus can scrape node_exporter via pushprox
          command: ./end-to-end-test.sh

workflows:
  version: 2
  stuff:
    jobs:
    - test:
        filters:
          tags:
            only: /.*/
    - prometheus/build:
        name: build
        filters:
          tags:
            only: /.*/
    - prometheus/publish_master:
        context: org-context
        docker_hub_organization: prometheuscommunity
        quay_io_organization: prometheuscommunity
        requires:
        - test
        - build
        filters:
          branches:
            only: master
    - prometheus/publish_release:
        context: org-context
        docker_hub_organization: prometheuscommunity
        quay_io_organization: prometheuscommunity
        requires:
        - test
        - build
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore: /.*/
